@model PortfolioProject.Models.ServiceViewModel

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}




<div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">



@using (Html.BeginForm("AddService","Service",FormMethod.Post, new{ enctype = "multipart/form-data" })){

    
    
                                    
                    <div class="form-group">
                      <label>Hizmet-Alan Adı</label>
                      @Html.TextBoxFor(m=>m.Title,new {@class="form-control"}) 
                      @Html.ValidationMessageFor(m=>m.Title,"",new {@class="text-danger"})
                    </div>
                                   
                    <div class="form-group">
                      <label>Resim Seç</label>
                       @Html.TextBoxFor(m => m.Picture, new { type = "file" })
                       @Html.ValidationMessageFor(m => m.Picture,"",new {@class="text-danger"})
            
                    </div>
             

                      <button  class="btn btn-outline-success">Kaydet</button>
            

 }

                    </div>
                </div>
              </div>

