@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<div class="card text-dark bg-light mb-xl-auto" @*style="max-width: 18rem;"*@>
  <div class="card-header">@Model.Subject</div>
  <div class="card-body">
    <p class="card-text">@Model.MessageContent</p>
  </div>
  <div class="card-footer text-muted">
    @(((DateTime)Model.Date).ToString("dd-MMM-yyyy"))
  </div>
</div>

